.navbar-default {
    background-color: #220066;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    background-color: #660080;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-brand:active {
    background-color: #660080;
    color: #ffffff;
}

span {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  margin-bottom: 0px;
}

.social-media {
  width: 35px;
  height: 35px;
}

.decor-image {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
}

.sponsor-logo {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.bg {
  background: url('../images/welcomeBackground5.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 800px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron-landing {
  height: 800px;
  width:100%;
  color: white;
  text-shadow: #444 0 5px 5px;
  text-align: center;
  background: transparent;

  display: table;
}

.sexy_line{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#660080), to(#fff));
    margin-bottom: 50px;
}

.sexy_line_2{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#660080;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#660080));
    margin-bottom: 50px;
}

#about {
    background: white;
    color: #660080;
}

#meetings {
background: #660080;
}

#sponsors {
    background: white;
    color: #660080;
}

.stack {
    height: 550px;
    width:100%;
    color: white;
    text-align: center;
    background: transparent;
    display: table;
    margin-bottom: 0px;
}

.stack h2 {
      #text-shadow: #8c8c8c 0 5px 5px;
}

.text {
    vertical-align: top;
}

.stack-text {
    margin-bottom: 20px;
}


