{% extends 'headerFooter.html' %}
{% block title %} {% endblock title %}
{% block header %} {% endblock header %}

{% block content %}
<div class="bg"></div>
<div id="welcome" class="jumbotron jumbotron-landing">
    <span>
  <h1>Women in Computer Science</h1>
        <br>
  <h2>Arizona State University</h2>
        <br>
        <br>
    <p> The club for women and other minority genders pursuing a degree in technology.</p>
        </span>
</div>

<div id="about" class="jumbotron stack">
<span class="text">
    <h2> About Us </h2>
    <span class="sexy_line"></span>
    <div class="col-md-12">
        <div class="col-md-6 stack-text">
            <img class="decor-image" src="../static/images/eye.png" alt="Eye">
            <h4>Our Vision</h4>
            Women in Computer Science promotes women joining and staying in the field by doing outreach to K-12 students,
            holding programming competitions, and being involved in our community.
        </div>
        <div class="col-md-6 stack-text">
            <img class="decor-image" src="../static/images/globe.png" alt="Globe">
            <h4>Our Mission</h4>
            Women in Computer Science aims to help promote diversity in technology fields and keep women involved in the
            technical fields.
        </div>
    </div>

</span>
</div>

<div id="meetings" class="jumbotron stack">
<span class="text">
    <h2> Meetings </h2>
    <span class="sexy_line_2"></span>

    <div class="col-md-12">
        <div class="col-md-6 stack-text">
            <img class="decor-image" src="../static/images/calendar.png" alt="Calendar">
            <h4>Time</h4>
            We hold a meeting once a month, usually on a Wednesday around 6pm.
        </div>
        <div class="col-md-6 stack-text">
            <img class="decor-image" src="../static/images/clock.png" alt="Clock">
            <h4>Place</h4>
                We are located in the Brickyard Engineering building, room 210.
                <br>
                (BYENG 210)
        </div>
    </div>

</span>
</div>

<div id="sponsors" class="jumbotron stack">
<span class="text">
    <h2> Companies Who Love Us </h2>
    <span class="sexy_line"></span>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/godaddy-logo.png" alt="GoDaddy"></div>
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/cisco-logo.png" alt="Cisco"></div>
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/gd-logo.jpg" alt="GD"></div>
        </div>
        <div class="col-md-4">
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/google-logo.png" alt="Google"></div>
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/amazon-logo.png" alt="Amazon"></div>
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/ticketmaster-logo.png" alt="Ticketmaster"></div>
        </div>
        <div class="col-md-4">
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/workiva-logo.png" alt="Workiva"></div>
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/usaa-logo.jpg" alt="USAA"></div>
            <div class="row"><img class="sponsor-logo" src="../static/images/company-logos/sf-logo.jpg" alt="State Farm"></div>

        </div>
    </div>

</span>
</div>
{% endblock %}