{% extends 'headerFooter.html' %}
{% block title %} {% endblock title %}
{% block header %} {% endblock header %}

<script>
  !function ($) {
    $(function(){
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>

{% block content %}
<div id="myCarousel" class="carousel slide" style="margin-top: -21px;">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/Women-in-Computer-Science.jpg" alt="" class="img-responsive center-block">
          <div class="container">
            <div class="carousel-caption">
                <h1>Women in Computer Science</h1>
                <h2>at Arizona State University</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yFoiUIAAN5md.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yS9CUYAANdSa.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    </div><!-- /.carousel -->

<div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/Women-in-Computer-Science.jpg" alt="" class="img-responsive center-block">
          <div class="container">
            <div class="carousel-caption">
                <h1>Women in Computer Science</h1>
                <h2>at Arizona State University</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yFoiUIAAN5md.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yS9CUYAANdSa.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    </div><!-- /.carousel -->

<div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/Women-in-Computer-Science.jpg" alt="" class="img-responsive center-block">
          <div class="container">
            <div class="carousel-caption">
                <h1>Women in Computer Science</h1>
                <h2>at Arizona State University</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yFoiUIAAN5md.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yS9CUYAANdSa.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    </div><!-- /.carousel -->

<div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/Women-in-Computer-Science.jpg" alt="" class="img-responsive center-block">
          <div class="container">
            <div class="carousel-caption">
                <h1>Women in Computer Science</h1>
                <h2>at Arizona State University</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yFoiUIAAN5md.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yS9CUYAANdSa.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    </div><!-- /.carousel -->

<div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/Women-in-Computer-Science.jpg" alt="" class="img-responsive center-block">
          <div class="container">
            <div class="carousel-caption">
                <h1>Women in Computer Science</h1>
                <h2>at Arizona State University</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yFoiUIAAN5md.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="../static/images/Cd7yS9CUYAANdSa.jpg" alt="" class="img-responsive center-block">
          <div class="container">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    </div><!-- /.carousel -->

{% endblock %}