<!DOCTYPE html>
<html>
<head>
	<title>This is the outreach tab</title>
</head>
<body>
	<p>Things need for this page:</p>
	<ul>
		<li>Mission/vision statement</li>
		<li>Links to resources and things teachers can do in class with their students</li>
		<li>Information about past outreach events</li>
		<li>Information about upcoming outreach evens</li>
	</ul>

	<h2>Mission/Vision Statement</h2>
		<p>WiCS is awesome!</p>
	<h2>Resources and Class activities</h2>
		<a href="codecademy.com">Codecademy!</a>
	<h2>Past Outreach Events</h2>
		<p>Some cool things we've done in the past!</p>
	<h2>Upcoming Outreach</h2>
		<p>Some cool things we're doing in the future</p>
</body>
</html>>
