{% extends 'headerFooter.html' %}
{% block title %} {% endblock title %}
{% block header %} {% endblock header %}

{% block content %}
	<h2>Mission/Vision Statement</h2>
		<p>Women in Computer Science is a student organization at ASU which acts as a support network and resource for female and other minority students in technology.</p>
		<p></p>
		<p></p>
		<p>General meetings are held the last Tuesday of every month.</p>
	<h2>Resources and Class activities</h2>
		<p><a href="https://codecademy.com">Codecademy!</a></p>
		<p><a href="https://studio.code.org">Code.org</a></p>
	<h2>Past Outreach Events</h2>
		<p>Some cool things we've done in the past!</p>
		<ul>
			<li>Girls Who Code</li>
				<ul><li>We went to a local middle school and talked to the students about why we love programming, and gave them coding activities</li></ul>
			<li></li>
		</ul>
	<h2>Upcoming Outreach</h2>
		<p>Some cool things we're doing in the future</p>
{% endblock %}